.header{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.img{
  margin-top: 40px;
}
.hd{
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: "Noto Serif KR", serif, Helvetica, "Helvetica Neue", Arial;
  color: rgb(147, 112, 98);
  text-align: center;
}