.wrap:active .ic{
  display: block;
}
.wrap:active .lo{
  display: block;
}
.wrap:active .ic{
  display: block;
}
.wrap .ic{
  display: block;
}
.ic{
  width: 72px;
 
}
h4{
  color: white;
}
.btn-keeper{
  background-image: url(./img/mingcute_bowl-line.png) no-repeat center center;
  color: aqua;
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}