.wrap:active .ic{
  display: block;
}
.wrap:active .lo{
  display: none;
}
.wrap:active .ic{
  display: block;
}
.wrap .ic{
  display: none;
}
.ic{
  width: 72px;
 
}
h4{
  color: white;
}
.btn-keeper{
  background-image: url(./img/mingcute_bowl-line.png);
}