.wrap:active .ic{
  display: block;
}
.wrap:active .lo{
  display: none;
}
.wrap:active .ic{
  display: block;
}
.wrap .ic{
  display: none;
}
.ic{
  width: 72px;
 
}
h4{
  color: white;
}
.keeper{
  background-image: url('./img/mingcute_bowl-line.png');
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  display: block;
  
}