/* w 1200 */

.wrapper {
    width: 1200px;
    margin: 0 auto;
}
.menu {
    height: 80px;
    color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    background-color: #000000;
}

.menu2 {
    height: 50px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    background-color: #1f9633;
}
.menu2 > ul {
    margin: 0;
    display: flex;
    justify-content: space-around;

}

.recipe {
    width: 1200px;
    margin: 0;
    background-color: antiquewhite;
}
h1 {
    font-size: 40px;
    margin: 0;
    text-align: center;
}

.value {
    width: 1200px;
    margin: 0 100px;
    display: flex;
}

.value > div {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    align-items: center;
    text-align: center;
    color: #2f48d1;
    font-size: 40px;
    justify-content: space-between;
} 

.value > div > img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    
}

