/* w 1200 */

.wrapper {
    position: relative;
}
.menu {
    width: 1200px;
    height: 80px;
    color: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    background-color: #000000;
}

.menu2 {
    width: 1200px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    background-color: #1f9633;
}
.menu2 > ul {
    display: flex;
    list-style: none;
    margin-right:20px;
}

.recipe {
    width: 1200px;
    height: 300px;
    margin: 0 100px;
    background-color: antiquewhite;
}
.recipe > h1 {
    margin-left: 40px;
}

.value {
    display: flex;
    margin: 0 auto;
    
}

.value > div {
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: #2f48d1;
    font-size: 40px;
} 

.value > div > img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}