.swipermain {
  width: 1400px;
  height: 380px;
  display: flex;
  justify-content: center;
}

.swipers {
  position: relative;
  height: auto;
  /* display: flex;
  justify-content: center;
  flex-wrap: nowrap; */
}

.prev-button {
  width: 55px;
  height: 55px;
  border: none;
  position: absolute;
  top:40%;
  z-index: 1;
  left:0px;
  right: auto;
  background: url('../img/prev.png');
  background-repeat: no-repeat;
  transition: 0.3s;
  padding: 0px;
  box-shadow: 1px 1px 5px #888888;
  border-radius: 50%;

  
}

.next-button {
  width: 55px;
  height: 55px;
  border: none;
  position: absolute;
  top:40%;
  z-index: 1;
  left: auto;
  right: 5px;
  background: url('../img/next.png');
  background-repeat: no-repeat;
  transition: 0.3s;
  padding: 0px;
  box-shadow: 1px 1px 5px #555;
  border-radius: 50%;
}

