.hd {
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: "Noto Serif KR", serif, Helvetica, "Helvetica Neue", Arial;
  color: rgb(147, 112, 98);
  text-align: center;
  font-size: 40px;
}
.hd:hover {
  color: rgb(207, 147, 121);

}

.bg {
  width: 100%;

}

.stymain {
  display: flex;
  justify-content: center;
}

.styli {
  width: 573px;
  height: 284px;
  margin-top: 15px;
  border-radius: 20px;
  display: block;
  background-color: rgb(244, 240, 239);
  text-align: center;
  align-items: baseline;
  padding: 30px;
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  justify-content: center;
  align-items: center;
}

.boximg {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;


}

.box>img {
  width: 278px;
  height: 278px;
  border-radius: 20px;
  margin-right: 10px;
}

.stybigiamge {
  width: 1200px;
  display: flex;
  justify-content: end;
  margin-right: 50px;
}
.imgone{
  width: 650px;
  height: 577px;
}
.styimage {
  width: 650px;
  height: 577px;
  border-radius: 20px;
  font-size: 50px;
}

.styicon {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.stylike {
  width: 25px;
}

/* .title{
  width: 100%;
  height: 100px;
} */

