.hd{
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: "Noto Serif KR", serif, Helvetica, "Helvetica Neue", Arial;
  color: rgb(147, 112, 98);
  text-align: center;

}
.stymain {
  width: 1200px;
  height: 530;
  display: flex;
}

.styli {
  width: 278px;
  height: 278px;
  margin-right: 30px;
  border-radius: 20px;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #1f87e3;
  text-align: center;
}

.styimage {
  width: 577px;
  height: 577px;
  border-radius: 20px;
  font-size: 50px;
}
.styicon{
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
.stylike{
  width: 25px;
}