/* 회사소개 광고문의 */
.ft{
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid
}
h5{
  font-weight: bold;
}
/* 배고파 sns구간 */
.ri{
  margin-right: 20px;
}
.header{
  display: flex;

}
.sns{
  width: 185px;
  margin-top: 20px;
  white-space : nowrap;
}

.snss{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.snss h1:hover{
  transform: scale(1.2);
  cursor: pointer;
}

/* 인포 */
.ff{
  display: flex;
  justify-content: center;
  align-items: center;
}
.info{
  width: 1200px;
  color: #808080;
  font-size: 11px;
  padding-top: 20px;
}
.cp{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #808080;
  font-size: 11px;
}