/* 회사소개 광고문의 */
.ft {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid
}

h5 {
  font-weight: bold;
}

/* 배고파 sns구간 */
.ri {
  font-size: 40px;
  margin-right: 20px;
}
.ri:hover{
  color:rgb(207, 147, 121);
}
.logo {
  font-size: 30px;
}

.header {
  display: flex;
  align-items: center;

}

.sns {
  width: 185px;
  margin-top: 20px;
  white-space: nowrap;
}

.snss {
  font-size: 40px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}

.snss a:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* 인포 */
.ff {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  width: 1200px;
  color: #808080;
  font-size: 11px;
  padding-top: 20px;
}

.cp {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #808080;
  font-size: 11px;
}