
h4{
  color: white;
}
.my{
  background-image: url('../img/my.png');
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  cursor: pointer;
  margin-right: 10px;

  
}
.lo{
  color: rgb(147, 112, 98);
  font-family: "Noto Sans KR", Helvetica, "Helvetica Neue", Arial, "sans-serif";
  cursor: pointer;
  
}
.lo:hover{
  color:rgb(207, 147, 121);
  transform: scale(1.2);
  cursor: pointer;
  
}

.out{
  cursor: pointer;
  color: rgb(147, 112, 98);
  font-family: "Noto Sans KR", Helvetica, "Helvetica Neue", Arial, "sans-serif";
  
}
.out:hover{
  color:rgb(207, 147, 121);
  transform: scale(1.2);
  cursor: pointer;
}
.ou{
  display: flex !important;
}
.ids{
  margin-right: 10px;
  cursor: pointer;
  color: rgb(147, 112, 98);
  font-family: "Noto Sans KR", Helvetica, "Helvetica Neue", Arial, "sans-serif";
  display: flex;
  justify-content: center;
  align-items: center;
  user-select:none;

}
.plus{
  background-image: url('../../../img/plus.png');
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  cursor: pointer;
  margin-right: 10px;
  

}
.plus:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.ids:hover {
  /* transform: scale(1.2); */
  cursor:auto;
}
.my:hover{
  transform: scale(1.2);
  cursor: pointer;
}