.stynav{
  width: 1200px;
  height: 40px;
  border-bottom: rgb(211, 211, 211) 1px solid;
}
.stylednav{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.ft{
  color: #000;
  
}
.ft:hover{
  text-decoration:underline;
}
