* {
  font-family: "Noto Serif KR", serif, Helvetica, "Helvetica Neue", Arial;
}

.card {
  width: 285px;
  height: 285px;
  /* border: 1px solid gray; */
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.bottomTextBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  width: 285px;
  height: 85px;
  position: absolute;
  bottom: 0px;
  padding: 5px 15px;
  /* background-color:rgba(0, 0,0, 0.4); */
}

.bottomTtextTitle {
  color: #F4F0EF;
  font-size: 20px;
  font-weight: 600;
}

.bottomTextBox p {
  font-size: 18px;
  font-weight: 600;
  color: #ddcd75;
  line-height: 0;
  margin: 0;
}

.thumbnailBox {
  display: flex;
  margin-top: 10px;
  /* border: 1px solid orange; */
}

.thumbnailBox p {
  margin-bottom: 8px;
  line-height: 0;
  font-weight: 600;
}

.thumbnailImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 10px;
  background-color: gray;
}

.noBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 255px;
}

.viewNoBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85px;
  height: 22px;
  font-size: 15px;
  /* font-weight: 600; */
  color: #F4F0EF;
  /* background-color: #F4F0EF;  */
  border: none;
}

.likeNoBox {
  /* display: flex; */
  /* justify-content: flex-end;
  align-items: center; */
  width: 40px;
  height: 40px;
  margin: 40px 0 0 220px;
  font-size: 15px;
  /* background-color: #F4F0EF; */
}

.commentBox {
  width: 270px;
  height: 100px;
  padding: 10px;
}

.userComment {
  margin-top: 10px;
}


/* 새로 CSS 수정합니다 */