/* --------------------------공통CSS------------------------------------ */
body {
  font-family: "Noto Sans KR", Helvetica, "Helvetica Neue", Arial, "sans-serif";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #212121;
}
a {
  text-decoration: none;
}
.font_eng {
  font-family: "Noto Serif KR", serif, Helvetica, "Helvetica Neue", Arial;
}
/* --------------------------------------------------------------------- */

.recipe-page {
  background-color: #fff;
}
.nav {
  width: 100%;
  height: 80px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 80px;
  background-color: #000;
}
.footer {
  width: 100%;
  height: 300px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 80px;
  background-color: #FFF5E7;
}

.main-wraper {
  padding-bottom: 80px;
}

.main {
  display: flex;
  padding-top: 80px;
  /* column-gap: 20px; */   /* TODO: 질문! main--right에 padding-left가 정상적으로 안먹는 이유  */
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  column-gap: 80px;
}
.main--left {
  flex: 1;
  overflow: hidden;
  position: relative;
}
.main--left img {
  width:100%;
  height:100%;
  object-fit:cover;
}
.main--leftcounts {
  display: flex;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  bottom: 10px;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0px 10px;
}
.btn_mainnavigation {
  position: absolute;
  top: 220px;
  z-index: 999;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.3s;
  cursor: pointer;
  padding: 0px;
}
.btn_mainprev {
  left: 10px;
  background-image: url(../images/btn-mainprev.png);
}
.btn_mainnext {
  right: 10px;
  background-image: url(../images/btn-mainnext.png);
}


.main--right {
  flex: 1;
  /* margin-left: 40px; */
  padding-top: 8px;
  /* padding-right: 80px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
  background-color: #fff;

}
.main--rightsubtitle{
  /* white-space: nowrap; */
  font-size: 18px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box; /* 해당 영역을 box형태로 관리한다 */
  -webkit-line-clamp: 2; /* 영역 박스 안 내용의 최대 라인수 */
  -webkit-box-orient: vertical; 
}
.main--rightinfo {
  display: flex;
  column-gap: 3.0rem;
  flex-wrap: wrap;
}
.main--righthashtag{
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;
  /* margin: 40px 0px; */
}
.main--righthashtag > div {
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  padding: 0px 15px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgb(244, 240, 239);
}
.main--rightbuttons {
  display: flex;
  justify-content: flex-end;
  column-gap: 8px;
}
.main--rightbuttons > button {
  /* width: 60px;
  height: 60px; */
  position: relative;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.main--rightbuttons > button > img {
  width: 50px;
}
.btn-keeper:hover > p.arrow_box  {
  display: block;
}
.btn-share:hover > p.arrow_box  {
  display: block;
}
.btn-linkcopy:hover > p.arrow_box  {
  display: block;
}
.btn-kakaoshare:hover > p.arrow_box  {
  display: block;
}
.arrow_box {
  display: none;
  position: absolute;
  width: 100px;
  padding: 8px;
  bottom: -45px;
  left: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 14px;
}
.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 30%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  border-width: 10px;
  pointer-events: none;
  content: ' ';
}




.content {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 80px;
}
.content--ingredients {
  margin: 22px 0px 80px 0px;
}
.content--ingredients > h4 {
  color: #212121;
}
.content--ingredients > p {
  width: 50%;
  line-height: 28px;  /* TODO: html font-size 정해지면 px -> rem으로 변경  */
  padding-top: 10px;
}
.content--method {
  padding: 0px;
}
.content--method > h4 {
  color: #212121;
  padding-bottom: 10px;
}
.content--method > li {
  list-style: none;
  padding-bottom: 8px;
}



.review {
  padding: 80px 0px 50px 0px;
  background-color: rgb(244, 240, 239);
}
.review--wrapper {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
}
.review--title{
  display: flex;
  min-width: 240px;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0px;
}
.review--title > h4 {
  font-size: 30px;
  color: rgb(147, 112, 98);
}
.review--titlesubject {
  display: inline-block;
  font-size: 27px;
  margin: 8px 0px 12px;
  letter-spacing:-0.5px;
  border-bottom: 1px solid rgb(147, 112, 98);
}
.review--titlesubtitle {
  font-size: 15px;
}

.review--inner {
  position: relative;
  max-width: 1160px;
  /* margin: 0 auto; */
  flex: 4;
}
.review-image{
  width: 285px;
}
.review-image > img{
  width: 100%;
}
.review-text > span {
  display: inline-block;
  padding: 10px 0px;
  font-size: 18px;
}
.review-text > p {
  font-size: 16px;
}

.btn_navigation {
  position: absolute;
  top: 200px;
  z-index: 999;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.3s;
  cursor: pointer;
  padding: 0px;
  box-shadow: 1px 1px 5px #555;
}
.btn_prev {
  left: -30px;
  background-image: url(../images/btn-round-prev.png);
}
.btn_next {
  right: -30px;
  background-image: url(../images/btn-round-next.png);
}

.review--register {
  display: flex;
  max-width: 1200px;
  margin: 0px auto;
  column-gap: 10px;
  margin-top: 46px;
}
.review--register-image {
  width: 150px;
  height: 146px;
  border-radius: 9px;
}
.input-file-button{
  position: relative;
  width: 150px;
  height: 146px;
  background-color:rgb(147, 112, 98);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  flex: 1;
}
.input-file-button::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 68px;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
}
.input-file-button::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 68px;
  border-radius: 4px;
  background-color: #fff;
}
.review--register--write {
  flex: 6;
  height: 146px;
}

.review--register--write > textarea {
  width: 100%;
  height: 100%;
  resize: none;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #DFDFDF;
}
.review--register--write > textarea:focus {
  outline-color: rgb(147, 112, 98);
}
.review--register--submit {
  flex: 1;
  border-radius: 4px;
  color: rgb(147, 112, 98);
  border: 1px solid rgb(147, 112, 98);
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.review--register--submit:hover {
  color: #fff;
  background-color: rgb(147, 112, 98);
}




/* -------------------------LikeCount---------------------------- */
.likecount {
  /* 부모 main--leftcounts */
  display: flex;
  column-gap: 6px;
  align-items: center;
}
.likecount > img {
  flex: 1;
  height: 40px;
  object-fit:cover;
}
.likecount > span {
  flex: 1;
  font-size: 18px;
  color: rgb(147, 112, 98);
}

/* -------------------------ViewCount---------------------------- */
.viewcount {
  display: flex;
  column-gap: 6px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0px;
  padding: 0px 15px;
  box-sizing: border-box;
  border-radius: 40px;
  background-color: rgba(147, 112, 98, 0.7);
  /* vertical-align:middle ; */
  text-align: center;
}
.viewcount > img {
  height: 40px;
}
.viewcount > span {
  font-size: 18px;
  text-align:center;
  line-height: 100%;
}