.recipe-page {
  background-color: #fff;
}
.nav {
  width: 100%;
  height: 80px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 80px;
  background-color: #000;
}
.footer {
  width: 100%;
  height: 300px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 80px;
  background-color: #FFF5E7;
}

.main {
  display: flex;
  padding-top: 80px;
  /* column-gap: 20px; */   /* TODO: 질문! main--right에 padding-left가 정상적으로 안먹는 이유  */
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  column-gap: 80px;
}
.main--left {
  flex: 1;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.main--left > img {
  width:100%;
  height:100%;
  object-fit:cover;
}
.main--left--counts {
  display: flex;
  position: absolute;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
  bottom: 10px;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0px 10px;
}
.main--right {
  flex: 1;
  /* margin-left: 40px; */
  padding-top: 8px;
  /* padding-right: 80px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
}
.main--right--subtitle{
  /* white-space: nowrap; */
  font-size: 18px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box; /* 해당 영역을 box형태로 관리한다 */
  -webkit-line-clamp: 2; /* 영역 박스 안 내용의 최대 라인수 */
  -webkit-box-orient: vertical; 
}
/* .main--right--title {
  margin: 40px 0px;
} */
.main--right--info {
  display: flex;
  column-gap: 3.0rem;
  flex-wrap: wrap;
}
/* .main--right--info > span {
  padding-right: 100px;
} */
.main--right--hashtag{
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;
  /* margin: 40px 0px; */
}
.main--right--hashtag > div {
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  padding: 0px 15px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgb(244, 240, 239);
}
.main--right--buttons {
  display: flex;
  justify-content: flex-end;
  column-gap: 8px;
}
.main--right--buttons > button {
  /* width: 60px;
  height: 60px; */
  position: relative;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.main--right--buttons > button > img {
  width: 50px;
}
.btn-keeper:hover > p.arrow_box  {
  display: block;
}
.btn-share:hover > p.arrow_box  {
  display: block;
}
.btn-linkcopy:hover > p.arrow_box  {
  display: block;
}
.btn-kakaoshare:hover > p.arrow_box  {
  display: block;
}
.arrow_box {
  display: none;
  position: absolute;
  width: 100px;
  padding: 8px;
  bottom: -45px;
  left: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 14px;
}
.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 30%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  border-width: 10px;
  pointer-events: none;
  content: ' ';
}




.content {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 80px;
}
.content--ingredients {
  margin: 22px 0px 50px 0px;
}
.content--ingredients > p {
  width: 50%;
  line-height: 28px;  /* TODO: html font-size 정해지면 px -> rem으로 변경  */
  padding-top: 10px;
}
.content--method {
  padding: 0px;
}
.content--method > h4 {
  padding-bottom: 10px;
}
.content--method > li {
  list-style: none;
  padding-bottom: 8px;
}



.review {
  max-width: 1200px;
  padding-top: 50px;
  margin: 0 auto;
  border-top: 1px solid #555;
}
.review--inner {
  position: relative;
}
.btn_navigation {
  position: absolute;
  top: 200px;
  z-index: 999;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  transition: 0.3s;
  cursor: pointer;
}
.btn_navigation:hover {
  background-color: #DFDFDF;
}
.btn_prev {
  left: -60px;
  background-image: url(../images/btn-prev.png);
}
.btn_prev:hover {
  background-image: url(../images/btn-prev-hover.png);
}
.btn_next {
  right: -60px;
  background-image: url(../images/btn-next.png);
}
.btn_next:hover {
  background-image: url(../images/btn-next-hover.png);
}
.review--register {
  display: flex;
  column-gap: 10px;
  margin-top: 46px;
  margin-bottom: 80px;
}
.review--register-image {
  width: 150px;
  height: 146px;
  border-radius: 9px;
}
.input-file-button{
  position: relative;
  width: 150px;
  height: 146px;
  background-color:#DFDFDF;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  flex: 1;
}
.input-file-button::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 68px;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
}
.input-file-button::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 68px;
  border-radius: 4px;
  background-color: #fff;
}
.review--register--write {
  flex: 6;
  height: 146px;
}

.review--register--write > textarea {
  width: 100%;
  height: 100%;
  resize: none;
  box-sizing: border-box;
  border-radius: 9px;
  border: 1px solid #DFDFDF;
}
.review--register--submit {
  flex: 1;
  border-radius: 9px;
  border: 1px solid #DFDFDF;
  background-color: #fff;
}




/* -------------------------LikeCount---------------------------- */
.likecount {
  /* 부모 main--left--counts */
  display: flex;
  column-gap: 6px;
}
.likecount > img {
  width: 30px;
}

/* -------------------------ViewCount---------------------------- */
.viewcount {
  display: flex;
  column-gap: 6px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0px;
  padding: 0px 15px;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  /* vertical-align:middle ; */
  text-align: center;
}
.viewcount > img {
  /* width: 30px; */
  font-size: inherit;
  /* vertical-align:bottom;
  margin-right: 6px;
  padding-top: 2px; */
}
.viewcount > span {
  font-size: initial;
  text-align:center;
  line-height: 100%;
}