* {
  margin: 0;
}
.App {
  display: flex;
  justify-content: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.lecipeMain {
  margin: 0 auto;
  width: 1400px;
}

.lecipeCard {
  margin-bottom: 100px;
  border-bottom: 1px solid gray;

}
.lecipeCardImg {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}

.material {
  font-size: 18px;
}

.card {
  width: 285px;
  height: 285px;
  /* border: 1px solid gray; */
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.bottomTextBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  width: 285px;
  height: 85px;
  position: absolute;
  bottom: 0px;

  padding: 5px 15px;

  background-color:rgba(0, 0,0, 0.4);
}

.bottomTtextTitle {
  color: yellow;
  font-size: 20px;
  font-weight: 700;
}

.bottomTextBox p {
  font-size: 18px;
  font-weight: 600;
  color: white;
  line-height: 0;
}

.thumbnailBox {
  display: flex;
  align-items: center;
  /* border: 1px solid orange; */
}

.thumbnailBox p {
  line-height: 0;
  font-weight: 200;
}

.thumbnailImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 10px;
  background-color: gray;
}

.noBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 255px;
}

.viewNoBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 22px;
  font-size: 16px;
  font-weight: 100;
  font-style: italic;
  color: white;
  background-color: rgb(100, 100, 100); 
  border-radius: 20px;
}

.likeNoBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
  height: 25px;
  font-size: 20px;
  font-weight: 500;
  color: yellow;
}

.commentBox {
  width: 270px;
  height: 100px;
  padding: 10px;
}

.userComment {
  margin-top: 10px;
}




