
.addRecipeWrapper {
  width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 90px;
  background-color: rgb(255, 250, 250);
  position: relative;
  user-select:none;
  border: solid 1px rgb(147, 112, 98);;
  
}

.header h1 {
  text-align: center;
  line-height: 90px;
  color: rgb(147, 112, 98);
}

.header button {
  position: absolute;
  right: 30px;
  top: 35px;
  cursor: pointer;
}

.addRecipeBody {
  width: 650px;
  margin: 100px auto;
  margin-bottom: 150px;
}

.addRecipeBody div.input-file-button {
  
  display: inline-block;
  text-align: center;
  line-height: 68px;
  color: #CCC;
  width: 600px;
  height: 68px;
  border: 1px solid #CCC;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.addRecipeBody div.input-file-button label, p {
  cursor: pointer;
}

.addRecipeBody span {
  font-size: 20px;
  color: orange;
  font-weight: 700;
}

.addRecipeBody input {
  width: 480px;
  height: 68px;
  border: 1px solid #CCC;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  font-size: 20px;
  padding-left: 20px;
}

.addRecipeBody input.recipeTitle {
  width: 600px;
}
.addRecipeBody input.recipeTitle:focus{
  border-color:  rgb(207, 147, 121);

}
.addRecipeBody input.timeRecipe {
  width: 200px;
  padding-left: 0;
  text-align: center;
}
.addRecipeBody input.timeRecipe:focus{
  border-color:  rgb(207, 147, 121);

}
.addRecipeBody div.materialBox {
  margin-top: 5px;
  margin-bottom: 0px;
}
.addRecipeBody input.materialRecipe {
  width: 280px;
  height: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.addRecipeBody input.materialRecipe:focus{
  border-color:  rgb(207, 147, 121);

}
.addRecipeBody div.processlBox {
  margin-top: 5px;
  margin-bottom: 0px;
}
.addRecipeBody input.processRecipe {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 40px;
}
.unitRecipe:focus{
  border-color:  rgb(207, 147, 121);

}
.addRecipeBody input.processRecipe:focus{
  border-color:  rgb(207, 147, 121);

}
.addRecipeBody select {
  text-align: center;
  width: 87px;
  height: 40px;
  margin-top: 0px;
  margin-bottom: 2px;
  margin-right: 10px;
  border: 1px solid #CCC;
  border-radius: 10px;
}

.addRecipeBody input.unitRecipe {
  padding-left: 0;
  text-align: center;
  width: 90px;
  height: 40px;
  margin-top: 0px;
  margin-bottom: 2px;

}

.addRecipeBody button {
  width: 110px;
  height: 69px;
  border: 1px solid #CCC;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  /* padding-left: 20px; */
}

.addRecipeBody button.plusMinus {
  width: 50px;
  height: 40px;
  margin-right: 10px;
  border-radius: 20px;
  margin-top: 0px;
  margin-bottom: 1px;
  cursor: pointer;
  border-color: rgb(147, 112, 98);
  color: rgb(147, 112, 98);
  background-color:transparent;
}
.addRecipeBody button.plusMinus:hover{
  background-color:rgb(207, 147, 121);
  color: white;
}

.addRecipeFooter {
  text-align: right;
  width: 650px;
  margin: 0px auto;
  margin-bottom: 150px;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  
}

.addRecipeFooter button {
  width: 200px;
  height: 60px;
  border: 1px solid #CCC;
  border-radius: 40px;
  font-size: 20px;
  margin-right: 50px;

  cursor: pointer;
  border-color: rgb(147, 112, 98);
  color: rgb(147, 112, 98);
}
.addRecipeFooter button.submitButton:hover{
  background-color:rgb(207, 147, 121);
  color: white;
}

.addRecipeFooter button.submitButton {
  background-color: white;
}
.button{
  width: 40px;
  height: 35px;
  border-color: rgb(147, 112, 98);
  color: rgb(147, 112, 98);
  position: absolute;
  top: 25px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  border-radius: 10px;
}
.button:hover{
  background-color:rgb(207, 147, 121);
  color: white;
}
.textcenter{
  width: 610px;
display: flex;
justify-content: space-between;
}